.hero {
  /* height: 555px; */
  background-color: var(--black);
  background-image: url(resul-kaya-xxL1FavYOh0-unsplash-cut.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Titillium Web", sans-serif;
}

@media (min-width: 960px) {
  .hero {
    height: 555px;
  }
  .hero-title-frame {
    height: 165px;
  }
  .hero-heading {
    font-size: 52px;
    padding: 10px;
  }
  .hero-subheading {
    font-size: 28px;
  }
}

@media (max-width: 960px) {
  .hero {
    background-image: url(resul-kaya-xxL1FavYOh0-unsplash-cut.jpg);
  }
  .hero-heading {
    font-size: max(20px, calc(100vw * 0.055));
    /* padding-top: 10px; */
    /* font-size: 40px; */
  }
  .hero-subheading {
    font-size: max(18px, calc(100vw * 0.03));
    /* font-size: 40px; */
  }
  .hero-title-frame {
    height: calc(100vw * (165 / 960));
  }
}

.hero-title-frame {
  /* height: 165px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  /* featured profile */
  display: table;
  /* padding: 10px; */
  font-weight: var(--semibold);
  letter-spacing: -0.022em;
  color: var(--white);
}

.hero-subheading {
  /* Profile of the Month */
  display: table;
  font-weight: var(--regular);
  /* font-size: 28px; */
  text-align: center;
  text-transform: uppercase;
}

.hero-banner-frame {
  position: relative;
  display: grid;
  justify-content: center;
}

.floater {
  position: absolute;
  z-index: 1;
  filter: brightness(35%) blur(3px);
  top: 50%; /* position the top edge of the element at the middle of the parent */
  transform: translateY(-50%);
}

.floater:hover {
  top: 50%; /* position the top edge of the element at the middle of the parent */
  animation: zoom-float 0.2s 1 cubic-bezier(0.26, 0.53, 0.74, 1.48) forwards;
}

@keyframes zoom-float {
  0% {
    transform: translateY(-50%) scale(1, 1);
    filter: brightness(35%) blur(3px);
  }
  100% {
    transform: translateY(-50%) scale(1.05, 1.05);
    filter: brightness(100%) blur(0px);
  }
}

.floater img {
  width: 100%;
  height: 100%;
}

.left-floater {
  left: calc((100vw - 960px) / 2 * 0.3);
  width: 480px;
  height: 270px;
}

.left-floater:active {
  animation: left-floater-slide 0.3s ease-out 1 forwards;
  filter: brightness(100%) blur(0px);
}

@keyframes left-floater-slide {
  0% {
    left: calc((100vw - 960px) / 2 * 0.3);
    width: 480px;
    height: 270px;
  }
  100% {
    left: calc((99vw - 960px) / 2);
    width: 960px;
    height: 330px;
    z-index: 6;
  }
}

.right-floater {
  right: calc((100vw - 960px) / 2 * 0.3);
  width: 480px;
  height: 270px;
}

.right-floater:active {
  animation: right-floater-slide 0.3s ease-out 1 forwards;
  filter: brightness(100%) blur(0px);
}

@keyframes right-floater-slide {
  0% {
    right: calc((100vw - 960px) / 2 * 0.3);
    width: 480px;
    height: 270px;
  }
  100% {
    right: calc((99vw - 960px) / 2);
    width: 960px;
    height: 330px;
    z-index: 6;
  }
}

@media (max-width: 1000px) {
  .floater {
    display: none;
  }
}

.hero-banner {
  position: relative;
  display: grid;
  z-index: 2;
}

.float-banner {
  position: absolute;
  display: grid;
  z-index: 2;
}

@media (max-width: 960px) {
  .hero-banner {
    width: 98vw;
  }
  .hero-profile video {
    width: 98vw;
  }
}

@media (min-width: 960px) {
  .hero-banner {
    width: 960px;
    grid-template-columns: 586px 374px;
  }
  .hero-profile video {
    width: 586px;
    height: 330px;
  }
}

.hero-banner:hover {
  animation: zoom3 0.2s 1 cubic-bezier(0.26, 0.53, 0.74, 1.48) forwards;
  /* transform: scale(1.02, 1.02); */
}

@keyframes zoom3 {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.03, 1.03);
  }
}

.hero-profile {
  /* display: grid;
  justify-content: center;
  align-content: center; */
  background-color: var(--dark);
  /* width: 586px;
  height: 330px; */
  z-index: 2;
}

.videobox {
  text-align: center;
  background-color: green;
  /* width: 100%;
  height: 100%; */
  color: white;
}
